
<!--this form needs to match the student seeds table!... it currently does not-->
<!--requirements for this page: needs to update the student table in database-->


<h1>Add Students Here</h1>
                      <form class="create-update-form" action="admin_add" method="POST">

                        <div class="form-group">
                          <label for="un">Student ID</label>
                          <input type="text" id="un" name="student_Id" value="{{student_Id}}">
                        </div>

                        <div class="form-group">
                          <label for="un">Student Email</label>
                          <input type="text" id="un" name="student_Email" value="{{student_Email}}">
                        </div>

                        <div class="form-group">
                          <label for="un">Student Name</label>
                          <input type="text" id="un" name="student_Name" value="{{student_Name}}">
                        </div>

                        <div class="form-group">
                          <label for="un">Student Hour</label>
                          <input type="text" id="un" name="student_Hour" value="{{student_Hour}}">
                        </div>

                         <div class="form-group">
                          <label for="un">Teacher's Name</label>
                          <input type="text" id="un" name="student_TeacherName" value="{{student_TeacherName}}">
                        </div>


                        <button type="submit">Complete Profile</button>
                      </form>

